<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="footer" value="===========================END===========================${newline}" />

	<targets async="true">
		<target
			name="logconsole"
			xsi:type="ColoredConsole"
			layout="${longdate}|${level:uppercase=true}|${message}|${exception}"/>

		<target
			xsi:type="File"
			name="fileInfo"
			fileName="${basedir}/logs/info/${shortdate} AutoClicker.log"
			layout="${longdate}| ${callsite}| ${uppercase:${level}}| ${message}| ${exception}"
			footer="${footer}"/>

		<target
			xsi:type="File"
			name="fileError"
			fileName="${basedir}/logs/error/${shortdate} AutoClickerError.log"
			layout="${longdate}| ${callsite}| ${uppercase:${level}}| ${message}| ${exception}"
			footer="${footer}"/>

	</targets>

	<rules>
		<logger
			name="*"
			minlevel="Trace"
			maxlevel="Fatal"
			writeTo="logconsole, fileInfo"/>

		<logger
			name="*"
			minlevel="Error"
			maxlevel="Fatal"
			writeTo="fileError"/>

	</rules>
</nlog>